* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: #d8d8d8;
    color: #0c898e;
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
}

a {
    color: #064d4e;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    letter-spacing: 2px;
}

a:hover {
    color: #dc143c;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header {
    width: 100%;
    background-color: #0c898e;
    position: sticky;
    top: 0;
    align-items: center;
}

header img {
    width: 7.5vw;
    height: auto;
}

li {
    list-style: none;
    padding: 2vw;
    text-transform: uppercase;
    font-size: 1rem;
}

h1 {
    color: #d8d8d8;
    text-transform: uppercase;
    padding: 2.25rem;
    font-size: 4rem;
}

p {
    text-align: justify;
    padding: 0.75rem;
    font-size: 1.25rem;
}

button {
    width: 20vw;
    height: 3rem;
    background-color: #0c898e;
    color: #d8d8d8;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 1.5vw;
    border: none;
}

button:hover {
    background-color: #dc143c;
}

hr {
    border: none;
    border-top: 1px solid #0c898e;
    margin: 3.25rem 0;
    width: 90%;
}

h2 {
    text-transform: uppercase;
    padding: 2.25rem;
    font-size: 3.25rem;
}

h3 {
    text-transform: uppercase;
    font-size: 1.75rem;
}

article {
    padding: 2rem;
}

footer {
    width: 100%;
    background-color: #0c898e;
    color: #d8d8d8;
}

section {
    padding-bottom: 2rem;
    width: 90%;
}

.lista {
    list-style: square;
    padding: 0;
    padding-top: 1rem;
    font-size: 1.25rem;
}

audio {
    padding-top: 4vh;
}

.parallax {
    background-image: url("../img/parallax.png");

    min-height: 500px;
    width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagens {
    width: auto;
    height: 100vh;
}

@media (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .row-reverse {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    header {
        position: static;
    }

    header img {
        width: 10vw;
    }

    section {
        width: 100%;
    }

    .lista-header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .imagens {
    width: auto;
    height: 250vh;
}
}
